
h2 {
    font-family: 'Times New Roman', 'Segoe UI' ,Times, serif;
}

h3 {
    font-family: 'Times New Roman', 'Segoe UI' ,Times, serif;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

$primary-color: #424242;
$text-color: #FFFFFF;
$sub-heading: #FFC216;

$heading-font-size: 80px;
$subheading-font-size: 40px;