@use '../base/typography' as *;

body {
  background-color: #797979;
}

.hero {
  position: relative; // create positioning context
  margin-bottom: -4px;
}

.hero img {
  width: 100%; // so it fills the section
  opacity: 54%;
  position: relative; // keeps it in the stacking order
  z-index: 1;
}

.hero-text {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: $text-color;
  text-align: center;
  z-index: 2;
}

.hero-text h2 {
      font-size: $heading-font-size;
}

.hero-text h3 {
    color: $sub-heading;
    font-size: $heading-font-size;
}

.hero-text p {
    font-size: 40px;
}